.uiSelectHeader {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid var(--black);
    border-radius: 4px;
    height: fit-content;
}

.label {
    width: 100%;
}