.iconButton {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    &.withoutPaddings {
        padding: 0;
    }
}

.gray {
    background-color: var(--white);
    color: var(--gray-700);
    &:hover {
        color: var(--black);
    }
    &:disabled {
        color: var(--gray-500);
    }
}

.blue {
    background-color: var(--blue-500);
    color: var(--white);
    &:hover {
        background-color: var(--blue-700);
    }
    &:disabled {
        background-color: var(--blue-300);
    }
}